ul {
  margin-top: -3em;
  margin-bottom: -1.3em;
  margin-right: 2em;

  display: flex;
  justify-content: right;
  position: static;
  gap: 1em;
}

li {
  list-style: none;
  
  
}

.a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: .8em;
  
}
.b {
  text-decoration: none;
  color: rgb(19, 19, 19);
  font-weight: 600;
  font-size: .8em;
}

.a:hover {
  color: rgb(110, 107, 107);
}

.b:hover {
  color: rgb(145, 145, 145)
}