.container {
  width: 32em;
  
  display: block;

  margin-left: auto;
  margin-right: auto;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  
  padding: 0 0 0 .5em;

  border: 1px black solid;
  border-radius: 3px;

  width: 10em;
  height: 2em;
}
p {
  display: flex;
  
  margin-top: 1em;
  margin-bottom: 2em;
  
  
  
}