.App, .b {
  background-color: white;
  color: black;
  
  
}

.AppTwo, .a{
  background-color: rgb(21, 20, 20);
  color: white;
  
  
}


.lightOn {
  
  cursor: pointer;
  fill: white;
  stroke: white;
}


.cicle {
  display: flex;
  }

.darkOne {
  
  cursor: pointer;

}

.darkTwo {
  visibility: hidden;
}


.lightOff {
  cursor: pointer;
  
}


