.App, .b {
  background-color: white;
  color: black;
  width: max-content;
  
}

.AppTwo, .a{
  background-color: rgb(21, 20, 20);
  color: white;
  width: max-content;
  
  
}


.lightOn {
  margin-left: .5em;
  margin-top: .5em;
  cursor: pointer;
  fill: white;
  stroke: white;
}

.lightOff {
  cursor: pointer;
  margin-left: .5em;
  margin-top: .5em;
}

.cicle {
  display: flex;
  
  }






